<!DOCTYPE HTML>
<html>
	<head>
		<!--[if IE]>
	      	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	      <![endif]-->
	    <title>Shanid KV | AngularJS Todo App</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	
	<body>

		<div class="container">

			<div class="row">

				<h3>AngularJS Todo App</h3>

				<hr/>

				<div class="todo-list" ng-app>
				  <div ng-controller="TodoCtrl">
				      <span>{{remaining()}} of {{todos.length}} remaining</span>
				    [ <a href="" ng-click="archive()">archive</a> ]
				    <ul class="task">
				      <li ng-repeat="todo in todos">
				        <input type="checkbox" ng-model="todo.status">
				        <span class="status-{{todo.status}}">{{todo.text}}</span>
				      </li>
				    </ul>
				    <form ng-submit="addTodo()">
				      <input type="text" required ng-model="todoText" placeholder="add new todo here">
				      <input class="btn-primary" type="submit" value="Add new task">
				    </form>
				  </div>
				</div>
				
			</div>

		</div>
		
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>

		<div class="footer">
	    	<div class="container">
	        	<p class="row text-muted">Copyright &copy; <script>document.write(new Date().getFullYear())</script>, <a href="http://www.shanidkv.com/">shanidkv.com</a></p>
	    	</div>
	    </div>

	</body>
</html>